{% include('partial/header.html.twig') %}

<main>

        <h1>Le super blog de la piscine</h1>

        <article>
            <h2> {{ article.title }}</h2>
        </article>


    </main>

{% include('partial/footer.html.twig') %}
